<div ng-controller='TopicsController'>
  <div class='top'>
    <div>
      <p align='right'><a href='#/dashboard'>Dashboard</a> | <a href='' ng-click='logout()'>Logout</a></p>
    </div>
    <div class='topic_content'>
      <h3>{{topic[0]._user.name}} posted a topic</h3>
      <p><b><i>{{topic[0].topic}}</i></b></p>
      <p>Description: {{topic[0].description}}</p>
    </div>
  </div>
  <div>
    <div class='add_post'>
      <h3 id='post_title'>Post you answer here...</h3>
      <form>
        <textarea id='post' ng-model='new_post.post' rows='5' cols='90'></textarea>
        <input type='submit' ng-click='addPost(topic)' value='Add post'>
      </form>
    </div>
    <div class='display_posts' ng-repeat='post in topic[0].posts'>
      <hr>
      <div>
        <div class='post'>
          <a href='' ng-click='getUser(post._user._id)'>{{post._user.name}}:</a>&nbsp;{{post.post}}
        </div>
        <div class='like'>
          {{post.like}} <button ng-click='likePost(post._id)'>&#708;</button>&nbsp;&nbsp;
          {{post.dislike}} <a href='' ng-click='dislikePost(post._id)'><button>&#709;</button></a>
        </div>
        <div class='comment' ng-repeat='comment in post.comments'>
          <a href='' ng-click='getUser(comment._user._id)'>{{comment._user.name}}:</a>&nbsp;{{comment.comment}}
        </div>
        <form>
          <textarea ng-model='new_comment.comment' rows='5' cols='87'></textarea>
          <input type='submit' ng-click='addComment(post, new_comment)' value='Add comment'>
        </form>
      </div>
    </div>
  </div>
</div>
